/* 补丁 大学内 提示内*/
.bottomTip {
	margin-top:0 !important;
}

/*Reset Settings*/
body, div, span, object, frame, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input { margin:0; padding:0 }
body {background:#E0F4FF url(../regist_img/bg.png) center 40px no-repeat; font-size:12px; font-family:Tahoma, Verdana, sans-serif, simsun;color:#333; }
a img, :link img, :visited img { border:0 }
table { border-collapse:collapse }
ul { list-style:none }
q:before, q:after, blockquote:before, blockquote:after { content: "" }
h1 { font-size:16px }
h2 { font-size:14px }
h3 { font-size:14px }
h4 { font-size:12px }
h5 { font-size:12px }
h6 { font-size:12px }
small { font-size:11px }
.normal{font-size:12px}
.f-large{font-size:14px;}
option { padding-left:5px }
em { font-style:normal; font-weight:400 }
/* Link */
a { color:#005EAC; text-decoration:none }
a:hover { text-decoration:underline }
/* Form */
fieldset { border:none }
input, select { vertical-align:middle; font-size:12px }
select { border:1px solid #BDC7D8; padding:2px; }
.select-short{width:140px;} /* 填资料页 城市select限制长度*/
textarea { border:1px solid #bdc7d8; padding:3px; font-size:12px; overflow:auto }
select, label, textarea, input { font-family:'lucida grande', tahoma, verdana, arial, simsun, sans-serif }
input.inputtext:focus, textarea:focus { background:#fcfcfc; }
.input-text { border:1px solid #bdc7d8;height:16px; padding:3px 0; }
.input-checkbox { margin-right:5px }
.input-button, .input-submit { background-color:#005eac; border-color:#b8d4e8 #124680 #124680 #b8d4e8; border-style:solid; border-width:1px; color:#fff; cursor:pointer; font-size:12px; padding:4px 15px;*padding:5px; text-align:center }
/* clearFix*/
.clearfix:after, .feed:after, .feed-content .headline:after, .comment:after { content:"."; display:block; height:0; clear:both; visibility:hidden }
.clearfix, .feed, .feed-content .headline, .comment { display:inline-block }
.clearfix, .feed, .feed-content .headline, .comment { display:block }
/**from**/
.gray { color:#888; }
#icode { width:100px; vertical-align:middle; }
.validate-num { vertical-align:middle; width:122px; height:48px; }
.form_row { clear:both; padding:10px 0 0; width:590px; zoom:1; position:relative; }
.form_row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.form_row .input_wrap { float:left; }
#gender_error_span{}
#stage_error_span {}
#birthday_error_span {width:95px;left:220px;}

.b_text { color:#808080; padding:8px 0 5px; text-align:center; }
.icode_row { padding:20px 0 3px; height:47px; overflow:hidden; }
.icode_input_row { padding:0; }
.errors_div { margin:10px 20px; border:1px solid #dd3c10; background:#ffebe8; padding:10px; text-align:center; }
.b_tip {padding:6px 0 0;clear:both;}
.box-error-pop { position:absolute; left:360px; top:0.5em; width:auto; background-position:0 -120px; }
.box-error-pop p { padding-right:15px; }

/* real name tip*/
#p_name .input_wrap { height:36px; }
#p_gender .input_wrap { height:30px; }
#p_gender { padding:8px 0 0; margin-top:3px; *margin-top:2px;
_margin-top:5px; }
#truenametip { display:block; position:absolute;height:30px; white-space:normal; color:#f30;width:340px; font-style:normal; }
.errors_div #truenametip { display:none; }

.main_left{float:left;width:610px;}
.main_wrap{background:#E0F4FF url(../regist_img/bg.png) center 40px no-repeat;width:895px; margin:0 auto; padding:20px 0 0;}
.guide-reg{background-color:#F7F7F7;border:1px solid #b4ccdd;position:relative;}
.form_wrap{border-right:1px solid #e3eef8;background-color:#FFFFFF;padding:10px 0}
.youknow{background-color:#F7F7F7;padding:30px 15px;border-left:none}
.b_text {color:#55a7da;position:absolute;bottom:-30px;right:0px;clear:both}
.login { position:absolute;top:-23px;right:0px }
.user_wrap { margin:0 20px 5px;border-bottom:1px solid #e8e8e8;padding:10px 0 ;font-size:14px;font-weight:bold;color:#005EAC}

.main_right{padding:0;width:280px;float:right;}
.main_right dl{margin:10px -10px 20px 15px;letter-spacing:-4px;}
.main_right dt{font-weight:bold;color:#666;margin-bottom:8px;letter-spacing:0;}
.main_right dd{display:inline-block;*zoom:1;*display:inline; margin-right:10px;*margin-right:8px;letter-spacing:0;}
.main_right dd a{display:block;height:75px;width:75px;overflow:hidden;cursor:default;}
.main_right dd .name{display:block;color:#888;text-align:center;margin-top:5px;}
.reg-content{background-color:#F7F7F7;border:1px solid #b4ccdd;position:relative;}
.reg_logo{display:block;outline:none;background: url(../index_img/logo_regist.png) no-repeat;padding-left:125px;height:45px;color:#71AD3F;font:bold 28px "黑体" }

/*form*/
#regform dl { float:left; width:600px; padding:5px 0;}
#regform dt { float:left; width:120px;padding-right:10px; font-size:14px; font-weight:bold; text-align:right;}
#regform dd { float:left; position:relative;}
#regform dd select { vertical-align:middle;font-size:12px; border:1px #BDC7D8 solid; padding:2px 3px;}
dl label { vertical-align:middle;font-weight:normal; height:28px; line-height:28px; font-size:14px;cursor:pointer;}
dd img { vertical-align:middle;}
.inputtext { border:1px solid #BDC7D8;font-size:15px;height:18px;line-height:18px;padding:5px 4px;width:212px; vertical-align:middle;}
.validate-code { width:100px;}
p.tabsort {color:#888;display:block;margin:5px 0 0;}
#male,#female { margin-right:3px;}
#female { margin-left:30px;}
.regbtn { width:186px; height:40px; border:0; margin:10px 0;text-indent:-9999em;display:block;background:url(../regist_img/reg-btn.png) no-repeat; cursor:pointer;}
.box-error,.box-error b,.box-error-error,.box-error-pop { display:inline-block; width:235px; height:30px;background:url(../index_img/reg_new.png) no-repeat 0 -68px; overflow:hidden;}
.box-error { display:none; vertical-align:middle;}
.box-error b { background-position:right -98px; font-weight:normal;padding-left:20px;width:215px;color:#999; height:25px; padding-top:5px;}
.box-error-error { background-position:0 -128px;}
.box-error-pop { width:auto;background-position:0 -188px; position:absolute; top:-4px; left:166px;*left:166px; width:95px;}/*2010-10-26*/
#p_birthday .box-error-pop { left:240px;*left:215px;}
.box-error-error b,.box-error-pop b { background-position:right -158px; color:#801B1B;}
.box-error-pop b { width:auto; padding-right:15px;}
#dmmg, #xmg, #mg, #mmg, #rmg { width:22px;height:18px; margin-left:8px;background:url(../index_img/reg_new.png) 0 6px no-repeat; display:none;}
dl.dl_pad { position:relative; margin:5px 0;}
#regform dl.dl_gender dd { _padding-top:3px;}
#truenametip { font-style:normal; color:#f00; position:absolute; left:0; top:32px;*top:35px; width:340px;}
.errors_div { border:1px #DD3C10 solid; background:#FFEBE8; text-align:center; padding:5px 0; margin-bottom:15px;}
.errors_div #truenametip { display:none;}
.reg_bot { width:630px; float:left; color:#808080; padding-left:180px;}

/** steps **/
.steps{width:295px;margin:30px 20px 10px;background:url(../regist_img/steps.png) no-repeat}
.steps p{display:block;height:32px;line-height:32px;width:135px;float:left;padding-left:10px;font-size:14px;font-weight:bold;color:#888;*display:inline}
.first{background-position:0 0}
.second{background-position:0 -35px}
.first p.online,
.second p.online,
.third p.online{color:#fff}
/** guide-content **/
.guide-main-new{height:484px;background-color:#FFF;border:1px solid #B4CCDD;position:relative;}
.guide-content{border-top:1px solid #DDD;margin:0 20px;*zoom:1;}

.long{width:225px}
.mid{width:137px}
.short{width:85px}
.digital {width:22px;}
.side-mod{width:370px;float:left;margin:30px 0 0 -1px;}
.side-bigmod{width:500px;float:left;width:660px;margin-top:40px}
.f-gray{color:#888;}

.parter-btn{border:none;cursor:pointer;background:url(../regist_img/gray-btn.png) no-repeat;position:absolute;top:0;_top:1px;left:157px;width:70px;border:1px solid #949494;height:23px;line-height:23px;}
*+html .parter-btn{top:1px;}
/** tip **/
.green-tip{visibility:hidden;line-height:18px;background-color:#CBE2C0;color:#666;width:219px;font-size:12px;padding:0 4px;}
.yellow-tip{visibility:hidden;line-height:18px;background-color:#F5EBB4;color:#DC1100;width:219px;font-size:12px;padding:0 4px;}
.head-tip{background:url(../regist_img/addfriend-tip.png) no-repeat;z-index:100;line-height:50px;width:150px;height:73px;font-size:16px;font-weight:bold;text-align:center;padding-top:5px;position:absolute;top:-10px;right:54px;}
.mail-tip,
.company-tip{background:#FFFFFF;border:1px solid #BDC7D8;left:0;position:absolute;top:23px;}
.mail-tip li,
.company-tip li{width:176px;border-bottom:1px solid #DDDDDD;overflow:hidden;line-height:14px;}
.mail-tip li a,
.company-tip li a{padding:3px;color:#333!important;display:block}
.mail-tip li a:hover,
.company-tip li a:hover{text-decoration:none;background-color:#005EAC;color:#FFF!important;}
.company-tip-box{position:relative;font-size:12px;}
.company-tip li{width:225px;}
.no-friends{font-size:14px;margin:30px;text-align:center;}
.no-friends h1{margin-bottom:20px;}
.invite-done-tip{background:url(../regist_img/tick.png) no-repeat;padding-left:65px;margin:30px 10px 40px 80px;font-size:14px;}
.invite-done-tip strong{display:block;font-size:16px;margin-top:15px;}

.main-data{font-size:14px;margin:30px 0 30px 17px;*margin:30px 0 30px 2px;width:450px;border-right:1px solid #C2D7E4;float:left}
.main-data table td{line-height:22px;vertical-align:top;padding:5px 5px 5px 0;}
.main-data table .add-material td{line-height:14px;padding-bottom:20px}
.main-data .td-name{text-align:right;padding-right:5px;width:110px}
.main-data .td-name img{float:left;margin:5px;}
.main-data em{color:#E4433E}
.main-data .schoolbox label{font-size:12px;}
/* .main-data .schoolbox p{margin-top:5px;} 貌似无用*/
.main-data table.classes td{font-size:12px;padding-bottom:10px}
.btn-box .input-submit {font-size:14px;font-weight:bold;padding:5px 20px;*padding:5px 10px;text-decoration:none;}
.arrow-btn{cursor:default;float:right;text-indent:-9999em;display:block;height:20px;width:24px;outline:none;background:url(../regist_img/arrow-lightgray.gif) no-repeat 0 8px}
.mid-school{padding-bottom:10px;}
.mid-school label{margin:0 15px 0 5px;*margin:0;font-size:12px;}
#mid_high_tr .banji{font-size:12px;margin:5px 0 0;}  /* 调整班级样式*/

.company,
.blue-box{background-color:#E3EEF8}
.place{background-color:#E2F1DB}
.schools{background-color:#F1EED3}
.select-box{width:450px;position:absolute;right:20px;top:20px;padding:10px;}
.select-box .friendslist li{margin:0 2px 8px;}  /* 为了给填资料推人加滚动条,把人头像调窄 */
.select-box h2{color:#666;font-size:16px;padding:5px 0;}
.friendslist{border:1px solid #CCC;padding:10px 2px;background-color:#FFF;height:365px;overflow:overflow;}
.friendslist span{line-height:18px;}
.picbox {border:1px solid #B1C1E1;float:left;height:50px;margin-right:3px;padding:2px;width:50px;background-color:#FFFFFF;background-position:center center;background-repeat:no-repeat;display:block;}
.atnet {color:#CCCCCC;display:block;float:left;overflow:hidden;width:64px;height:18px;}
.add-firend{color:#7fa3cb;display:block}
.friendslist {position:relative;overflow:auto;}
.friendslist .loading{background:url(../regist_img/load.gif) no-repeat scroll 0pt 0pt transparent; height: 26px; line-height: 26px; padding-left: 32px; margin: 30px auto auto 133px; color: rgb(136, 136, 136);}
.friendslist li{border:0 none;float:left;height:67px;margin:0 4px 8px;overflow:hidden;padding:0;width:138px;text-decoration:none;}
.friendslist li a {display:block;height:56px;padding:5px;color:#333!important;}
.friendslist li a:hover{background:url(../regist_img/hover-bg.png)
 no-repeat;width:126px;height:57px;text-decoration:none;}
.friendslist .selected{position:relative;}
.friendslist .selected a:hover{background:none;cursor:default;}
.friendslist .succeed{background:url(../regist_img/succeed.png) no-repeat;color:#5ea344;height:25px;line-height:25px;position:absolute;right:35px;bottom:0;padding-left:30px;}

/** friends box style**/
.friends-box{padding:10px;position:relative;margin-bottom:20px;}
.friends-box h2{color: #666666;font-size: 16px;padding: 5px 0;}
.friends-box .head-tip{right:222px;}
.friends-box .friendslist{height:220px;overflow:auto;}
.friends-addbox{width:140px;margin-right:30px;overflow:hidden;background:#E3EEF8 url(../regist_img/suspension-points.png) 10px 240px no-repeat;border:none;float:left;margin-top:40px;height:258px}
.left-arrow{background:url(../regist_img/blue-arrow.png) no-repeat;display:block;height:67px;top:100px;left:-23px;position:absolute;width:23px;}
.hisfriends-box{margin:30px auto 20px;width:785px;}

.mailbox{position:relative;}
/** the same mod of message **/
.info-box dt{display:inline-block;*zoom:1;*display:inline;margin-right:5px;text-align:right;width:5em;vertical-align:middle;font-size:14px;}
.info-box dd{display:inline-block;*zoom:1;*display:inline;margin-bottom:20px;width:310px;}
.info-box dd .textbox{width:170px;padding:3px;height:16px;line-height:16px;margin-right:5px;border:1px solid #bdc7d8}
.info-box select{margin-right:5px;border:1px solid #A5A5A5;}
.linkman{margin:20px auto 0;_margin-left:22px;width:400px;}
.linkman .skip{float:right;}
.info-operate{margin-left:80px;margin-top:20px;}
.info-operate .input-submit,
.larger .input-submit{font-weight:bold;font-size:14px;padding:4px 20px;*padding:4px 10px;margin-right:40px;}
.larger{margin-top:10px;}

/** msn style **/
.avatar {display:inline-block;height:50px;overflow:hidden;width:50px;}
.confirm-btn{margin-bottom:10px}
.confirm-btn .input-submit{margin-right:10px;}
.feedtips{float:right;}
.feedtips input{margin-right:5px;}
.picbox .person-list{height:335px}
.invite-btn{margin-left:145px;}
.invite-btn input{margin-right:10px;font-weight:bold;font-size:14px;}
.invite-btn a{margin-right:15px}
.center{text-align:center;}
.hisfriends-box .head-tip {right:222px;}
.skip {float:right;padding-right:60px;margin-top:10px;}  /* 外挂的一个跳过连接 */
/*#importer{float:left;width:480px;}*/
#importer{float: left;padding-right: 30px;width: 440px;}

/* --- 临时补丁 --- */
.m-autosug-minwidth{
	width:228px !important;
}